@media screen and (max-width: 510px){
    #apropos{
      flex-direction: column;
    }
    #service{
      flex-direction: column;
    }
    nav a{
      display: block;
      padding: 10px;
    }
    #image_apropos{
      margin: 0;
      width: 100%;
    }
    #image_apropos img {
      border-radius: 0px;
    }
    .modalTextTitle {
      font-size: 40px;
    }
    .modalBloc{
      width: 90%;
    }
    .modalBtn a{
      display: block;
      margin-bottom: 5%;
    }
    #liste-processus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #titre-principal {
      text-align: center;
    }
  }