* {
  margin: 0;
  padding: 0;
}

:root {
  --ble: #2563eb;
}

header > nav {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  z-index: 1;
  top: 0px;
}

#bandeau {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  margin-top: 10%;
  padding: 50px;
}

#contenuBandeau {
  text-align: center;
  padding: 2%;
}

#contenuBandeau img {
  filter: drop-shadow(10px 10px 10px grey);
}
#contenuBandeau a {
  color: rgba(178, 32, 19, 0.8);
  border: 1px solid rgba(178, 32, 19, 0.8);
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  transition-duration: 1s;
}
#contenuBandeau a:hover {
  color: white;
  background-color: rgba(178, 32, 19, 0.8);
}
header {
  padding-bottom: 5%;
  background-image: url(../img/fond.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

header #fond {
  z-index: 0;
  padding: 0;
  margin: 0;
}

nav a {
  color: white;
  padding: 20px;
}

nav a:hover {
  color: #e3c1a2;
}

#apropos {
  margin-top: 20px;
  display: flex;
  /*display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 4%;*/
}

#image_apropos img {
  border-radius: 10px;
  width: 100%;
  height: 90%;
}
#image_apropos {
  margin-left: 10px;
  flex: 1;
  /*grid-column: 1;*/
}

#texte_apropos {
  text-align: justify;
  /*grid-column: 2;*/
  flex: 2;
  padding: 20px;
  margin-right: 10px;
}

#texte_apropos p {
  font-size: large;
}

#texte_apropos .grand {
  font-size: xx-large;
  color: var(--ble);
}

#texte_apropos .moyen {
  font-size: x-large;
  color: var(--ble);
}

#portfolio a {
  color: var(--ble);
  border: 1px solid var(--ble);
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  transition-duration: 1s;
}
#portfolio a:hover {
  color: white;
  background-color: var(--ble);
}
#service {
  background-color: #e5c2a4;
  color: white;
  display: flex;
  padding: 20px;
  text-align: center;
}

.serviceItems p {
  text-align: justify;
  padding: 20px;
}

/*pour le js*/
.modal {
  display: none;
  position: fixed;
  left: 0; /*sans marge a gauche*/
  top: 0; /*sans marge en haut*/
  backdrop-filter: blur(25px);
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

#processus-creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
#processus-creation h2 {
  font-size: xx-large;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
#liste-processus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  margin: 30px;
}
#liste-processus div {
  padding: 2rem;
  font-size: large;
}
.div2,
.div4,
.div6,
.div8,
.div10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div2 i,
.div4 i,
.div6 i,
.div8 i,
.div10 i {
  color: var(--ble);
}

.div1,
.div3,
.div5,
.div7,
.div9 {
  background-color: #d5cdca;
  border-radius: 50px;
}
.div1 {
  grid-column: 1;
  grid-row: 1;
}
.div2 {
  grid-column: 2;
  grid-row: 1;
}
.div3 {
  grid-column: 1;
  grid-row: 2;
}
.div4 {
  grid-column: 2;
  grid-row: 2;
}
.div5 {
  grid-column: 1;
  grid-row: 3;
}
.div6 {
  grid-column: 2;
  grid-row: 3;
}
.div7 {
  grid-column: 1;
  grid-row: 4;
}
.div8 {
  grid-column: 2;
  grid-row: 4;
}
.div9 {
  grid-column: 1;
  grid-row: 5;
}
.div10 {
  grid-column: 2;
  grid-row: 5;
}

.modalBloc {
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  background-color: white;
  color: black;
  border-top: 10px solid black;
}

.modalBtn {
  margin: 5%;
}

.modalBtn a {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px;
}
.modalBtn a:hover {
  opacity: 0.7;
}

.modalTextTitle {
  font-size: 60px;
}
.modalTextParagraphe {
  font-size: large;
}
